{
    email admin@astrokomunita.sk
}

astrokomunita.sk {
    root * /srv/frontend
    encode gzip zstd
    try_files {path} /index.html
    file_server
}

api.astrokomunita.sk {
    reverse_proxy backend-api:80
}

ws.astrokomunita.sk {
    reverse_proxy reverb:8080
}
