services:
  moderation:
    build:
      context: ./moderation-service
    container_name: astrokomunita-moderation
    restart: unless-stopped
    ports:
      - "8090:8090"
    environment:
      MODERATION_INTERNAL_TOKEN: ${MODERATION_INTERNAL_TOKEN:-change-me}
      MODERATION_TEXT_MODEL: ${MODERATION_TEXT_MODEL:-unitary/toxic-bert}
      MODERATION_HATE_MODEL: ${MODERATION_HATE_MODEL:-cardiffnlp/twitter-roberta-base-hate-latest}
      MODERATION_ENABLE_HATE_MODEL: ${MODERATION_ENABLE_HATE_MODEL:-true}
      MODERATION_IMAGE_MODEL: ${MODERATION_IMAGE_MODEL:-Falconsai/nsfw_image_detection}
      MODERATION_TEXT_FLAG_THRESHOLD: ${MODERATION_TEXT_FLAG_THRESHOLD:-0.70}
      MODERATION_TEXT_BLOCK_THRESHOLD: ${MODERATION_TEXT_BLOCK_THRESHOLD:-0.90}
      MODERATION_IMAGE_FLAG_THRESHOLD: ${MODERATION_IMAGE_FLAG_THRESHOLD:-0.60}
      MODERATION_IMAGE_BLOCK_THRESHOLD: ${MODERATION_IMAGE_BLOCK_THRESHOLD:-0.85}
      MODERATION_IMAGE_MAX_BYTES: ${MODERATION_IMAGE_MAX_BYTES:-5242880}
